{% extends 'base.html.twig' %}

{#
    Здесь задаются значения полей контактов
    просто заполняйте поля в кавычках, если
    не хотите, чтобы поле отображелось - просто
    оставьте его пустым.
    Поля:
    address - адрес организации
    email - электронная почта
    fax - факс
    phones - массив данных с полями:
        label - то как будет отображаться
        number - цифры номера с + в начале
    map - координаты организации на карте
        longitude - долгота
        latitude - широта
    Эти данные можно узнать из ссылки, например:
    https://www.openstreetmap.org/#map=18/49.98540/36.36510
    Последние 49.98540/36.36510 цифры обозначают широта/долгота
#}

{% set contacts = {
    address : '61176, г. Харьков, ул. Амосова, 58',
    email   : 'office@med.edu.ua',
    fax     : '',
    phones  : [
        {
            'label' : '+38 (057) 711-35-56',
            'number': '+380577113556'
        },
        {
            'label' : '+38 (050) 711-80-25',
            'number': '+380507118025'
        }
    ],
    map     : {
        latitude    : '49.98540',
        longitude   : '36.36510'
    }

} %}

{% block body %}
    <div class="container">
        {% include 'common/card-wrapper.html.twig' %}
        <div class="rounded embed-responsive embed-responsive-16by9 offset-md-3 col-md-6">
            <iframe
                    class="embed-responsive-item"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox={{ contacts.map.longitude }},{{ contacts.map.latitude }},{{ contacts.map.longitude }},{{ contacts.map.latitude }}&amp;layer=mapnik&amp;marker={{ contacts.map.latitude }},{{ contacts.map.longitude }}"
            ></iframe>
        </div>
        <div class="card offset-md-3 col-md-6 mt-2 mb-3 p-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fas fa-map-marked-alt"></i>&nbsp;
                    <b>Адрес: </b>
                    <span>{{ contacts.address }}</span>
                </li>
                {% if contacts.phones|length > 0 %}
                <li class="list-group-item">
                    <i class="fas fa-mobile-alt"></i>&nbsp;
                    <b>Телефоны: </b>
                    <span>
                        {% for phone in contacts.phones %}
                            <a href="tel:{{ phone.number }}">{{ phone.label }}</a>&nbsp;
                        {% endfor %}
                    </span>
                </li>
                {% endif %}
                {% if contacts.email|length > 0 %}
                    <li class="list-group-item">
                        <i class="fas fa-at"></i>&nbsp;
                        <b>E-mail: </b>
                        <span>
                            <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                        </span>
                    </li>
                {% endif %}
                {% if contacts.fax|length > 0 %}
                    <li class="list-group-item">
                        <i class="fas fa-fax"></i>&nbsp;
                        <b>Факс: </b>
                        <span>
                            <a href="mailto:{{ contacts.fax }}">{{ contacts.fax }}</a>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}