{% extends 'base.html.twig' %}

{#
    Здесь можно самому написать свой текст либо же вставить свой
    HTML-код в специальный блок, который прокомментирован ниже.
    Вы можете изменить каринку, а именно:
    link - ссылка на вашу картинку, как видно по примеру
    width - ширина картинки (указана в пикселях)
    height - высотка картинки (указана в пикселях)
#}

{% set image = {
    link    : 'https://putidorogi-nn.ru/images/stories/evropa/sobor_parizhskoy_bogomateri_2.jpg',
    width   : 400,
    height  : 300,
} %}

{% block body %}
    <div class="container">
        {% include 'common/disclaimer.html.twig' %}
        {#{% include 'common/card-wrapper.html.twig' %}#}
        {#<div class="col-md-6 offset-md-3 mt-4 mb-4 text-center">#}
        {#<img#}
        {#class="rounded"#}
        {#width="{{ image.width }}"#}
        {#height="{{ image.height }}"#}
        {#src="{{ image.link }}"#}
        {#alt=""#}
        {#/>#}
        {#</div>#}

        {# Этот блок(div) предназначен для текста описания кафедры #}
        {#<div class="info-content mt-4 mb-4">#}
        {#<p>#}
        {#Здесь может содержаться информация о кафедре.#}
        {#</p>#}
        {#<p>#}
        {#Это абзацы, они обособляются тегом "p".#}
        {#</p>#}
        {#<p>#}
        {#Если вы ходите добавить абзац, просто скопируйте этот и вписывайте сюда текст.#}
        {#</p>#}
        {#<p>#}
        {#Так же вы можете вставлять ссылки, для этого нужно использовать тег "a", пример ниже.#}
        {#</p>#}
        {#<a href="https://google.com.ua">#}
        {#Пример ссылки#}
        {#</a>#}
        {#</div>#}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}