<div class="card border-0 col-md-5 mt-2 mb-3">
    <div class="card-body border-darkblue rounded-top">
        <div class="row">
            <div class="col-md-4 text-center">
                <img width="150" height="150" class="mb-2" src="/img/user/{{ doctor.image }}"/>
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <h3 class="card-title text-darkblue">{{ doctor.getFullName }}</h3>
                    <div class="card-body p-0 pt-3">
                        <div class="city">
                            <i class="fas fa-home"></i>&nbsp;<span>Город:&nbsp;{{ doctor.city }}</span>
                        </div>
                        <div class="experience">
                            <i class="fas fa-sort-amount-up"></i>&nbsp;<span>Стаж:&nbsp;{{ doctor.doctorInfo.experience }} лет/года</span>
                        </div>
                        <div class="medical-institution">
                            <i class="fas fa-briefcase"></i>&nbsp;<span>Место работы:&nbsp;{{ doctor.doctorInfo.medicalInstitution }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer border-darkblue bg-darkblue">
        <a
                class="float-right text-white"
                style="text-decoration: none;"
                href="{{ path('doctor', {'doctorId': doctor.id}) }}"
        ><i class="fas fa-angle-right"></i>&nbsp;Подробнее</a>
    </div>
</div>