{% extends 'base.html.twig' %}

{% block body %}
    {% include 'common/card-wrapper.html.twig' %}

    <div class="row col-md-10 offset-md-1 justify-content-around">
        {% if doctors|length == 0 %}
            {% include 'common/empty-list.html.twig' %}
        {% else %}
            {% for doctor in doctors %}
                {% include 'doctors/doctor.html.twig' with {'doctor': doctor} %}
            {% endfor %}
        {% endif %}
    </div>


    {% include 'common/replacement/pagination.html.twig' with {'items': doctors} %}
{% endblock %}
