{% extends 'admin/base.html.twig' %}

{% set classInputSize = 'col-md-10 offset-md-1' %}

{% block body %}
    <div class="container mb-5">
        <div class="card text-white border-0 text-center bg-transparent mt-4 offset-md-3 col-md-6">
            <div class="card-header border-primary pt-4 bg-primary mt-2"><h3>{{ title }}</h3></div>
            <div class="card-body border border-primary bg-white">
                {{ form_start(form) }}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.title,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.link,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/select-field.html.twig' with {
                    'fieldName' : 'type',
                    'class'     : classInputSize,
                    'selected'  : doc.type,
                    'options'   : [
                        {
                            'label' : constant('App\\Entity\\Information::TYPE_CONFERENCE'),
                            'value' : constant('App\\Entity\\Information::TYPE_CONFERENCE')
                        },
                        {
                            'label' : constant('App\\Entity\\Information::TYPE_JOURNAL'),
                            'value' : constant('App\\Entity\\Information::TYPE_JOURNAL')
                        },
                        {
                            'label' : constant('App\\Entity\\Information::TYPE_DOCUMENT_MOH'),
                            'value' : constant('App\\Entity\\Information::TYPE_DOCUMENT_MOH')
                        },
                        {
                            'label' : constant('App\\Entity\\Information::TYPE_PROTOCOL'),
                            'value' : constant('App\\Entity\\Information::TYPE_PROTOCOL')
                        }
                    ]
                } %}
                {% include 'common/input-fields/form/submit-btn.html.twig' with {
                    'fieldName' : form.submit,
                    'class'     : classInputSize
                } %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
