{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'common/card-wrapper.html.twig' with {
            'additionText'  : 'Всего: ' ~ totalCount,
            'isBold'        : true
        } %}
        <div class="row users-container justify-content-around">
            <a href="{{ path('admin_add_doc') }}" class="form-control btn btn-success mb-2"><i class="fa fa-plus"></i>&nbsp;Создать
                документ</a>
            {% if docs|length == 0 %}
                {% include 'common/empty-list.html.twig' %}
            {% else %}
                <table class="table table-striped table-hover table-responsive-xs table-bordered users-table">
                    <thead class="thead-dark">
                    <th class="text-center">ID</th>
                    <th>Название</th>
                    <th>Ссылка</th>
                    <th class="text-center">Тип</th>
                    <th class="text-center">Действие</th>
                    </thead>
                    <tbody class="tbody">
                    {% for doc in docs %}
                        <tr>
                            <td class="text-center">{{ doc.id }}</td>
                            <td>{{ doc.title|slice(0,75) }}{% if doc.title|length > 74 %}..{% endif %}</td>
                            <td class="text-center"><h4><a href="{{ doc.link }}"><i
                                                class="fas fa-link text-success"></i></a></h4></td>
                            <td class="text-center">{{ doc.type }}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_edit_doc', { 'docId' : doc.id }) }}" class="btn btn-primary">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="{{ path('admin_delete_doc', { 'docId' : doc.id }) }}" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        {% include 'common/replacement/pagination.html.twig' with {'items': docs} %}
    </div>
{% endblock %}
