<nav class="navbar navbar-expand-md bg-success text-white">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white active" href="{{ path('admin_panel') }}"><i class="fas fa-columns"></i>&nbsp;<b>Доска</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('admin_users') }}"><i class="fas fa-users"></i>&nbsp;Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('admin_articles')}}"><i class="fas fa-newspaper"></i>&nbsp;Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('admin_docs')}}"><i class="fas fa-info-circle"></i>&nbsp;Документы</a>
            </li>
            <li class="nav-item dropdown">
                <span
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown" role="button"
                        data-toggle="dropdown"
                        style="cursor: pointer;"
                        aria-haspopup="true" aria-expanded="false"
                >
                    <i class="fas fa-question-circle"></i>&nbsp;Другое
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin_doctor_leads') }}"><i class="fas fa-user-md"></i>&nbsp;Заявки на доктора</a>
                    <a class="dropdown-item" href="{{ path('admin_feedback') }}"><i class="fas fa-comments"></i>&nbsp;Сообщения от пользователей</a>
                </div>
            </li>
            <li class="nav-item "><a class="nav-link text-white">|</a></li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('news') }}"><i class="fas fa-undo-alt"></i>&nbsp;&nbsp;<b>Вернуться на сайт</b></a>
            </li>
        </ul>
        {% include 'common/header/navbar-auth.html.twig' %}
    </div>

</nav>