{% extends 'base.html.twig' %}

{% block body %}
    {% include 'common/card-wrapper.html.twig' %}

    {% if items|length == 0 %}
        {% include 'common/empty-list.html.twig' %}
    {% else %}
        {% for item in items %}
            {% include 'information/item.html.twig' with {'item': item} %}
        {% endfor %}
    {% endif %}

    {% include 'common/replacement/pagination.html.twig' with {'items': items} %}
{% endblock %}
