<div class="card bg-light offset-md-2 col-md-8 mt-2 mb-3">
    <div class="card-body row">
        <div class="col-md-12">
            <h5 title="{{ item.title }}">{{ item.title|slice(0,75) ~ '..' }}</h5>
        </div>
    </div>
    <div class="card-footer bg-light">
        <span class="col-md-2 text-secondary">
            <i class="far fa-calendar-alt"></i>&nbsp;{{ item.createdAt|date("d.m.Y") }}
        </span>
        <a
                href="{{ item.link }}"
                data-id="{{ item.id }}"
                target="_blank"
                style="text-decoration: none;"
                class="text-success float-right info-link"
        >
            <i class="fas fa-link"></i>
            &nbsp;
            <span>Посмотреть</span>
        </a>
    </div>
</div>