/* Fonts import */
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto');
/* Libraries import */
@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');

/* ALL */
* {
    font-family: 'Roboto', sans-serif;
}
.bg-darkblue {
    background: #2a3e67;
}

.border-darkblue {
    border: 1px solid #2a3e67;
}

.text-darkblue {
    color: #2a3e67;
}

.error-page-wrapper {
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    * {
        font-family: 'PT Sans', sans-serif;
    }
}

/* PROFILE */
#form-image {
    display: none;
}

.profile-img-container {
    position: relative;
}

.profile-img-container img:hover {
    opacity: 0.5;
    z-index: 501;
}

.profile-img-container i {
    display: none;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
}

.custom-file-label::after {
    content: 'Выбрать';
}
