<footer>
    {% block links %}

    {% endblock %}

    {% block copyright %}
        <div class="p-3 text-center bg-darkblue text-white">
            Все права защищены &copy; {{ "now"|date("Y") }}
        </div>
    {% endblock %}
</footer>
