{% extends 'admin/base.html.twig' %}

{% set classInputSize = 'col-md-10 offset-md-1' %}

{% block body %}
    <div class="container mb-5">
        <div class="card text-white border-0 text-center bg-transparent mt-4 offset-md-3 col-md-6">
            <div class="card-header border-primary pt-4 bg-primary mt-2"><h3>{{ title }}</h3></div>
            <div class="card-body border border-primary bg-white">
                {{ form_start(form) }}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.lastName,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.firstName,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.patronymic,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.email,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/select-field.html.twig' with {
                    'fieldName' : 'role',
                    'class'     : classInputSize,
                    'selected'  : user.roles[0],
                    'options'   : [
                        {
                            'label' : 'Пользователь',
                            'value' : constant('App\\Entity\\User::ROLE_USER')
                        },
                        {
                            'label' : 'Доктор',
                            'value' : constant('App\\Entity\\User::ROLE_DOCTOR')
                        },
                        {
                            'label' : 'Модератор',
                            'value' : constant('App\\Entity\\User::ROLE_MODERATOR')
                        },
                        {
                            'label' : 'Администратор',
                            'value' : constant('App\\Entity\\User::ROLE_ADMIN')
                        }
                    ]
                } %}
                {% include 'common/input-fields/form/submit-btn.html.twig' with {
                    'fieldName' : form.submit,
                    'class'     : classInputSize
                } %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
