{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'common/card-wrapper.html.twig' with {
            'additionText'  : 'Всего: ' ~ totalCount,
            'isBold'        : true
        } %}
        <div class="row users-container justify-content-around">
            {% if users|length == 0 %}
                {% include 'common/empty-list.html.twig' %}
            {% else %}
                <table class="table table-striped table-hover table-responsive-xs table-bordered users-table">
                    <thead class="thead-dark">
                    <th class="text-center">ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>E-mail</th>
                    <th class="text-center">Роль</th>
                    <th class="text-center">Действие</th>
                    </thead>
                    <tbody class="tbody">
                    {% for user in users %}
                        <tr>
                            <td class="text-center">{{ user.id }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.patronymic }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center">
                                {% if user.roles[0] is same as(constant('App\\Entity\\User::ROLE_ADMIN')) %}
                                    <h5 class="fas fa-user-astronaut text-danger"></h5>
                                {% elseif user.roles[0] is same as(constant('App\\Entity\\User::ROLE_MODERATOR')) %}
                                    <h5 class="fas fa-user-edit text-success"></h5>
                                {% elseif user.roles[0] is same as(constant('App\\Entity\\User::ROLE_DOCTOR')) %}
                                    <h5 class="fas fa-user-md text-primary"></h5>
                                {% elseif user.roles[0] is same as(constant('App\\Entity\\User::ROLE_USER')) %}
                                    <h5 class="fas fa-user text-dark"></h5>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('admin_edit_user', { 'userId' : user.id }) }}" class="btn btn-primary">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="{{ path('admin_delete_user', { 'userId' : user.id }) }}"
                                   class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        {% include 'common/replacement/pagination.html.twig' with {'items': users} %}
    </div>
{% endblock %}
