<div class="card my-4">
    <h5 class="card-header">Оставить комментарий:</h5>
    <div class="card-body">
        {% if app.user %}
            {{ form_start(commentForm) }}
            {% include 'common/input-fields/form/input-field.html.twig' with {
                'class'     : '',
                'fieldName' : commentForm.text
            } %}
            <div class="row col">
                <div>
                    {{ form_widget(commentForm.submit) }}
                </div>
            </div>
            <input type="hidden" name="author" value="{{ app.user.id }}"/>
            {{ form_end(commentForm) }}
        {% else %}
            <div><span>Для того, чтобы оставить комментарий пожалуйста&nbsp;</span>
                <a href="{{ path('login') }}" class="text-secondary">авторизируйтесь</a>
                <span>&nbsp;или&nbsp;</span>
                <a href="{{ path('register') }}" class="text-secondary">зарегистрируйтесь!</a>
            </div>
        {% endif %}
    </div>
</div>

{% for comment in article.comments %}
    <div class="media mb-4">
        <img width="50" height="50" class="d-flex mr-3 rounded-circle" src="/img/user/{{ comment.author.image }}" alt="">
        <div class="media-body">
            <div>
                <span class="mt-0">{{ comment.author.lastName ~ ' ' ~ comment.author.firstName }}</span>
                <span>|&nbsp;<span class="text-secondary">{{ comment.createdAt|date("d.m.Y H:i:s") }}</span></span>
            </div>
            <div class="">
                {{ comment.text }}
            </div>
        </div>
    </div>
{% endfor %}