{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">{{ title }}</h1>
        <hr>
        <div class="text-center">
            <img width="400" height="400" class="img-fluid rounded" src="/img/news/{{ article.image }}" alt="">
        </div>
        <hr>
        <div class="offset-md-3 row col-md-6 text-center">
            <div class="col-md-5">
                <span class="text-secondary">
                    <i class="far fa-calendar-alt"></i>&nbsp;{{ article.createdAt|date("d.m.Y") }}
                </span>
            </div>
            <div class="col-md-2">
                <span class="text-secondary">
                    <i class="fas fa-eye"></i>&nbsp;{{ article.views }}
                </span>
            </div>
            <div class="col-md-5">
                <span class="text-secondary"><i class="fas fa-user-edit"></i>&nbsp;{{ article.author.lastName ~ ' ' ~ article.author.firstName }}</span>
            </div>
        </div>
        <hr>
        {{ article.text }}
        <hr>
        {% include '/news/article/comments.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/comment.js') }}"></script>
{% endblock %}
