<div class="card border-0 offset-md-2 col-md-8 mt-2 mb-3">
    <div class="card-header border-0 bg-warning">
        <b title="{{ item.title }}">{{ item.title|slice(0,75) }} {% if item.title|length > 74 %}..{% endif %}</b>
    </div>
    <div class="card-body border border-bottom-0 border-warning">
        <div>
            {{ item.text }}
        </div>
    </div>
    <div class="card-footer border border border-warning bg-transparent">
        <span class="text-secondary">
            <i class="far fa-calendar-alt"></i>&nbsp;{{ item.createdAt|date("d.m.Y") }}
        </span>
        <span class="col-md-2">
            <a style="text-decoration: none;" href="mailto:{{ item.email }}"><i class="text-warning fas fa-envelope"></i></a>
            <span>&nbsp;{{ item.email }}</span>
        </span>
        <span class="col-md-2">
            <span><i class="fas fa-user text-warning"></i>&nbsp;{{ item.name }}</span>
        </span>
        <a
                href="{{ path('admin_feedback_close', { 'feedbackId': item.id }) }}"
                style="text-decoration: none;"
                class="text-dark float-right info-link"
        >
            <i class="text-warning fas fa-check"></i>
            &nbsp;
            <span>Проблема решена</span>
        </a>
    </div>
</div>