{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <img width="350" height="350" class="mb-2" src="/img/user/{{ doctor.image }}" alt="{{ doctor.getFullName() }}">
            </div>
            <div class="col-md-7">
                <div class="card-header"><h3>{{ doctor.getFullName() }}</h3></div>
                <div class="bg-light mb-3">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% include 'doctors/doctor/list-item.html.twig' with {
                                'label' : 'Город',
                                'text'  : doctor.city,
                                'icon'  : 'fas fa-home'
                            } %}
                            {% include 'doctors/doctor/list-item.html.twig' with {
                                'label' : 'Место работы',
                                'text'  : doctor.doctorInfo.medicalInstitution,
                                'icon'  : 'fas fa-briefcase'
                            } %}
                            {% include 'doctors/doctor/list-item.html.twig' with {
                                'label' : 'Стаж',
                                'text'  : doctor.doctorInfo.experience,
                                'after' : 'лет/года',
                                'icon'  : 'fas fa-sort-amount-up'
                            } %}
                            {% include 'doctors/doctor/list-item.html.twig' with {
                                'label' : 'Образование',
                                'text'  : doctor.doctorInfo.education,
                                'icon'  : 'fas fa-graduation-cap'
                            } %}
                            {% include 'doctors/doctor/list-item.html.twig' with {
                                'label' : 'Достижения',
                                'text'  : doctor.doctorInfo.achievements,
                                'icon'  : 'fas fa-trophy'
                            } %}
                            {% include 'doctors/doctor/list-item.html.twig' with {
                                'label' : 'Научные работы',
                                'text'  : doctor.doctorInfo.scientificWorks,
                                'icon'  : 'fas fa-flask'
                            } %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}