{% extends 'admin/base.html.twig' %}

{% set classInputSize = 'col-md-10 offset-md-1' %}

{% block body %}
    <div class="container mb-5">
        <div class="card text-white border-0 text-center bg-transparent mt-4 col-md-12">
            <div class="card-header border-primary pt-4 bg-primary mt-2"><h3>{{ title }}</h3></div>
            <div class="card-body border border-primary bg-white">
                {{ form_start(form) }}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.title,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/textarea-field.html.twig' with {
                    'fieldName' : form.text,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/submit-btn.html.twig' with {
                    'fieldName' : form.submit,
                    'class'     : classInputSize
                } %}
                {{ form_end(form) }}
                <hr>
                {{ form_start(formImg) }}
                <div class="{{ classInputSize }} mt-3">
                    <img width="250" height="250" src="/img/news/{{ article.image }}" alt="">
                    <div class="mt-2">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                {{ form_widget(formImg.image) }}
                                <label class="custom-file-label text-left" for="upload-image-form[image]">
                                    Выберите файл
                                </label>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(formImg.submit) }}
                </div>
                {{ form_end(formImg) }}
            </div>
        </div>
    </div>
{% endblock %}
