{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'common/card-wrapper.html.twig' with {
            'additionText'  : 'Всего: ' ~ totalCount,
            'isBold'        : true
        } %}
        <div class="row users-container justify-content-around">
            <a href="{{ path('admin_add_article') }}" class="form-control btn btn-success mb-2"><i
                        class="fa fa-plus"></i>&nbsp;Написать статью</a>
            {% if articles|length == 0 %}
                {% include 'common/empty-list.html.twig' %}
            {% else %}
                <table class="table table-striped table-hover table-responsive-xs table-bordered users-table">
                    <thead class="thead-dark">
                    <th class="text-center">ID</th>
                    <th>Заголовок</th>
                    <th class="text-center">Действие</th>
                    </thead>
                    <tbody class="tbody">
                    {% for article in articles %}
                        <tr>
                            <td class="text-center">{{ article.id }}</td>
                            <td>{{ article.title|slice(0,75) }}{% if article.title|length > 74 %}..{% endif %}</td>
                            <td class="text-center">
                                <a href="{{ path('admin_edit_article', { 'articleId' : article.id }) }}"
                                   class="btn btn-primary">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="{{ path('admin_delete_article', { 'articleId' : article.id }) }}"
                                   class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        {% include 'common/replacement/pagination.html.twig' with {'items': articles} %}
    </div>
{% endblock %}
