<div class="form-group {{ class ?? '' }}">
    {% if form_errors(fieldName)|length > 0 %}
        {{ form_widget(fieldName, {'attr' : {'class' : 'form-control text-center is-invalid'}}) }}
    {% else %}
        {{ form_widget(fieldName) }}
    {% endif %}
    <span class="text-left invalid-feedback">{{ form_errors(fieldName) }}</span>
</div>