<div class="form-group {{ class }}">
    <select class="form-control" name="{{ fieldName }}" id="{{ fieldName }}FormControlSelect">
        {% for option in options %}
            <option
                    {% if option.value is same as(selected) %} selected {% endif %}
                    value="{{ option.value }}"
            >
                {{ option.label }}
            </option>
        {% endfor %}
    </select>
</div>