<div class="card border-0 offset-md-3 col-md-6 mt-2 mb-3">
    <div class="card-body border border-light rounded-top">
        <div class="row">
            <div class="col-md-4">
                <img width="200" height="200" class="mb-2" src="/img/news/{{ article.image }}"/>
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <h3 class="card-title">{{ article.title }}</h3>
                    <div class="card-body p-0 pt-3">
                        <p class="card-text text-justify">{{ article.text|slice(0,255) ~ '..' }}</p>
                        <div class="mt-3 text-secondary"><i class="fas fa-user-edit"></i>&nbsp;{{ article.getAuthor.lastName }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer border-0 bg-light">
        <span class="col-md-6 text-secondary">
            <i class="far fa-calendar-alt"></i>&nbsp;{{ article.createdAt|date("d.m.Y") }}
        </span>
        <span class="col-md-6 text-secondary">
            <i class="fas fa-eye"></i>&nbsp;{{ article.views }}
        </span>
        <a
                class="float-right text-secondary"
                style="text-decoration: none;"
                href="{{ path('article', {'articleId': article.id}) }}"
        ><i class="fas fa-angle-right"></i>&nbsp;Подробнее</a>
    </div>
</div>