{% extends 'base.html.twig' %}

{% block body %}
    {% include 'common/card-wrapper.html.twig' %}

    {% if news|length == 0 %}
        {% include 'common/empty-list.html.twig' %}
    {% else %}
        {% for article in news %}
            {% include 'news/article.html.twig' with {'article': article} %}
        {% endfor %}
    {% endif %}

    {% include 'common/replacement/pagination.html.twig' with {'items': news} %}
{% endblock %}
