<header>
    {% block head %}
        <img src="{{ asset('img/header.jpg') }}" class="w-100" alt="">
    {% endblock %}

    {% block navbar %}
        {% include 'common/header/navbar.html.twig' %}
    {% endblock%}
</header>
