<nav class="navbar navbar-expand-md text-white bg-darkblue">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('news') }}"><i class="fas fa-newspaper"></i>&nbsp;Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('department_info') }}"><i class="fas fa-landmark"></i>&nbsp;История кафедры</a>
            </li>
            <li class="nav-item dropdown">
                <span
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown" role="button"
                        data-toggle="dropdown"
                        style="cursor: pointer;"
                        aria-haspopup="true" aria-expanded="false"
                >
                    <i class="fas fa-info-circle"></i>&nbsp;Раздел информации
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('info', {'type': 'conference'}) }}"><i class="fas fa-users"></i>&nbsp;Конференции</a>
                    <a class="dropdown-item" href="{{ path('info', {'type': 'protocol'}) }}"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;Протоколы</a>
                    <a class="dropdown-item" href="{{ path('info', {'type': 'document_moh'}) }}"><i class="fas fa-file-invoice"></i>&nbsp;&nbsp;Документы МОЗ</a>
                    <a class="dropdown-item" href="{{ path('info', {'type': 'journal'}) }}"><i class="fas fa-book-open"></i>&nbsp;Журналы</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url('doctors') }}"><i class="fas fa-database"></i>&nbsp;Реестр анастезиологов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url('feedback') }}"><i class="fas fa-question-circle"></i>&nbsp;Обратная связь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('online_diagnostic') }}"><i class="fas fa-flask"></i>&nbsp;Онлайн диагностика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url('contacts') }}"><i class="fas fa-address-book"></i>&nbsp;Контакты</a>
            </li>
        </ul>
        {% include 'common/header/navbar-auth.html.twig' %}
    </div>

</nav>