<ul class="nav navbar-nav ml-auto">
    {% if app.user %}
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="navbar-auth-Dropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>&nbsp;{{ app.user.lastName ~ ' ' ~ app.user.firstName|first ~ '. ' ~ app.user.patronymic|first ~ '. ' }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('profile') }}"><i class="fas fa-cog"></i>&nbsp;Профиль</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('admin_panel') }}"><i class="fas fa-columns"></i>&nbsp;Админ панель</a>
                {% endif %}
                <a class="dropdown-item" href="{{ url('logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;Выйти</a>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ url('register') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ url('login') }}"><i class="fas fa-key"></i>&nbsp;Вход</a>
        </li>
    {% endif %}
</ul>