<div class="headings">
    <h2 class="text-center text-secondary mt-3 mb-3">
        <span>{{ title }}</span>
        {% if additionText is defined %}
            <span>&nbsp;|&nbsp;
            {% if isBold is defined %}
                {% if isBold %}
                    <b>{{ additionText }}</b>
                {% else %}
                    <span>{{ additionText }}</span>
                {% endif %}
            {% else %}
                <span>{{ additionText }}</span>
            {% endif %}
        </span>
        {% endif %}
    </h2>
    <hr class="col-md-6">
</div>