<div class="text-center m-4">
    <div class="bg-light border rounded col-md-8 offset-md-2 p-5 text-secondary">
        <h1>
            <b class="text-danger">
                <i class="mt-3 fas fa-ban"></i>
                <span>Приносим свои извинения!</span>
            </b>
        </h1>
        <hr class="col-md-8">
        <h4 class="">Страница находится на стадии разработки! </h4>
    </div>
</div>