<div class="text-center m-4">
    <div class="bg-light border rounded col-md-4 offset-md-4 p-5 text-secondary">
        <h1>
            <b><span>Список пуст</span></b>
        </h1>
        <hr class="col-md-6">
        <h4 class="mt-4">0 результатов</h4>
    </div>
</div>