{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="error-page-wrapper d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">{{ status }}</span>
                    <div class="mb-4 lead">{{ title }}</div>
                    <a href="{{ homePage }}" class="btn btn-outline-dark">Главная</a>
                    <a href="{{ prevPage }}" class="btn btn-outline-dark">Назад</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}