
<div class="container">
    <h1>Сайт кафедра анастезиологии Харьковской области</h1>
    <p>
        Здравствуйте <b>{{ user.getFullName }}</b>!<br>
        Чтобы подтвердить текущее действие на сайте, перейдите по ссылке ниже:
        <br>
        <a href="{{ link }}">Ссылка</a>
    </p>
    <p>
        <span>С уважением, почтовый сервис
            <br>
            <b>Сайт кафедры анастезиологии Харьковской области</b>
        </span>
    </p>
</div>
