<a
        {% if block.link|length > 0 %}href="{{ path(block.link) }}"{% endif %}
        style="text-decoration: none;"
        class="col-md-4 border rounded p-5 bg-{{ block.color }} text-{% if block.text is defined %}{{ block.text }}{% else %}white{% endif %}"
>
    <h4 class="text-center">{{ block.name }}</h4>
    <hr class="bg-{% if block.text is defined %}{{ block.text }}{% else %}white{% endif %}">
    {% for label, value in block.types %}
        <div>
            <span>{{ label }}:</span>&nbsp;
            <span>{{ value }}</span>
        </div>
    {% endfor %}
</a>