{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'common/card-wrapper.html.twig' %}

        <div class="row mb-5">
            {% for block in blocks %}
                {% include 'admin/dashboard/block.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
