{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'common/card-wrapper.html.twig' with {
        'additionText'  : totalCount,
        'isBold'        : true
    } %}

    {% if items|length == 0 %}
        {% include 'common/empty-list.html.twig' %}
    {% else %}
        {% for item in items %}
            {% include 'admin/doctor_leads/item.html.twig' with {'item': item} %}
        {% endfor %}
    {% endif %}

    {% include 'common/replacement/pagination.html.twig' with {'items': items} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
