<div class="card border-0 offset-md-2 col-md-8 mt-2 mb-3">
    <div class="card-header border-0 bg-dark text-white">
        <b>{{ item.getFullName }}</b>
    </div>
    <div class="card-body border border-bottom-0 border-secondary">
        <ul class="list-group list-group-flush">
            {% include 'doctors/doctor/list-item.html.twig' with {
                'label' : 'Город',
                'text'  : item.city,
                'icon'  : 'fas fa-home'
            } %}
            {% include 'doctors/doctor/list-item.html.twig' with {
                'label' : 'Место работы',
                'text'  : item.doctorInfo.medicalInstitution,
                'icon'  : 'fas fa-briefcase'
            } %}
            {% include 'doctors/doctor/list-item.html.twig' with {
                'label' : 'E-mail',
                'text'  : item.email,
                'icon'  : 'fas fa-envelope'
            } %}
        </ul>
    </div>
    <div class="card-footer border border border-secondary bg-transparent">
        <span class="col-md-2 text-secondary">
            <i class="far fa-calendar-alt"></i>&nbsp;{{ item.createdAt|date("d.m.Y") }}
        </span>
        <span class="col-md-4">
        <a
            href="{{ path('admin_doctor_leads_not_approve', { 'doctorId': item.id }) }}"
            style="text-decoration: none;"
            class="text-danger float-right info-link"
        >
            <i class="fas fa-times"></i>
            &nbsp;
            <span>Отказать</span>
        </a>
        <a
                href="{{ path('admin_doctor_leads_approve', { 'doctorId': item.id }) }}"
                style="text-decoration: none;"
                class="text-success float-right info-link"
        >
            <i class="fas fa-check"></i>
            &nbsp;
            <span>Утвердить&nbsp;&nbsp;&nbsp;</span>
        </a>
        </span>
    </div>
</div>