{% extends 'base.html.twig' %}

{% set classInputSize = 'col-md-10 offset-md-1' %}

{% block body %}
    <div class="container mb-5">
        <div class="card text-white border-0 text-center bg-transparent mt-4 offset-md-3 col-md-6">
            <div class="card-header border-success pt-4 bg-success mt-2"><h3>{{ title }}</h3></div>
            <div class="card-body border border-success bg-white">
                {% if error %}
                    {% include 'common/info-box.html.twig' with {
                        'class' : classInputSize,
                        'color' : 'danger',
                        'text'  : error.messageKey|trans(error.messageData, 'security')
                    } %}
                {% else %}
                    {% include 'common/info-box.html.twig' with {
                        'class' : classInputSize,
                        'color' : 'info',
                        'text'  : 'Для того, чтобы войти, авторизируйтесь'
                    } %}
                {% endif %}
                {{ form_start(loginForm) }}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : loginForm._username,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : loginForm._password,
                    'class'     : classInputSize
                } %}
                <div class="form-group col-md-10 offset-md-1">
                    <div>
                        {{ form_widget(loginForm.submit) }}
                    </div>
                </div>
                {{ form_end(loginForm) }}
                {#<div class="text-center">#}
                    {#<a href="{{ path('reset_password') }}">Забыли пароль?</a>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
