{% extends 'base.html.twig' %}

{% set classInputSize = 'col-md-6 offset-md-3' %}

{% block body %}
    <div class="container mb-5">
        <div class="card text-white border-0 text-center bg-transparent mt-4 offset-md-3 col-md-6">
            <div class="card-header border-success pt-4 bg-success mt-2"><h3>{{ title }}</h3></div>
            <div class="card-body border border-success bg-white">
                {{ form_start(form) }}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : form.email,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/submit-btn.html.twig' with {
                    'fieldName' : form.submit,
                    'class'     : classInputSize
                } %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
