{% extends 'base.html.twig' %}

{% set classInputSize = 'col-md-10 offset-md-1' %}

{% block body %}
    <div class="container mb-5">
        <div class="card text-white border-0 text-center bg-transparent mt-4 offset-md-3 col-md-6">
            <div class="card-header border-success pt-4 bg-success mt-2"><h3>{{ title }}</h3></div>
            <div class="card-body border border-success bg-white">
                {% for message in app.flashes('success-register') %}
                    <div class="form-group col-md-10 offset-md-1 alert alert-success">
                        {{ message }}&nbsp;
                        <a href="{{ url('login') }}" class="text-secondary">Войти!</a>
                    </div>
                {% endfor %}
                {{ form_start(registerForm) }}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : registerForm.lastName,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : registerForm.firstName,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : registerForm.patronymic,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : registerForm.email,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : registerForm.password.first,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/form/input-field.html.twig' with {
                    'fieldName' : registerForm.password.second,
                    'class'     : classInputSize
                } %}
                {% include 'common/input-fields/checkbox-field.html.twig' with {
                    'class'         : 'col-md-10 offset-md-1 mb-3',
                    'name'          : 'sign-up-doctor[role_switcher]',
                    'inputClass'    : 'js-role-switcher',
                    'inputColor'    : 'success',
                    'label'         : 'Я доктор',
                    'labelColor'    : 'secondary',
                } %}

                <div class="js-hidden-block" style="display: none;">
                    {% include 'common/info-box.html.twig' with {
                        'class' : classInputSize,
                        'color' : 'info',
                        'text'  : 'Пожалуйста заполните дополонительные поля'
                    } %}
                    {% include 'common/input-fields/form/input-field.html.twig' with {
                        'fieldName' : registerForm.city,
                        'class'     : 'js-hidden-fields col-md-10 offset-md-1'
                    } %}
                    <div class="js-hidden-fields form-group col-md-10 offset-md-1">
                        <input
                                name="sign-up-doctor[medical_institution]"
                                type="text"
                                class="form-control text-center"
                                placeholder="Медицинское учреждение"
                        />
                    </div>
                </div>

                <div class="form-group col-md-10 offset-md-1">
                    <div>
                        {{ form_widget(registerForm.submit) }}
                    </div>
                </div>
                {{ form_end(registerForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pages/register.js') }}"></script>
{% endblock %}

{% block footer %}
{% endblock %}

