{% extends 'base.html.twig' %}

{% set classInputSize = 'col-md-8 offset-md-2' %}

{% block body %}
    <div class="container">
        {% include 'common/card-wrapper.html.twig' %}
        <div class="col-md-6 offset-md-3 mb-4 text-center">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <b>Изображение пользователя</b>
                </div>
                <div class="card-body">
                    <img width="250" height="250" src="/img/user/{{ user.image }}" alt="{{ user.getFullName }}">
                    <div class="col-md-8 offset-md-2 mt-3">
                        {{ form_start(imageUploadForm) }}
                        {{ form_widget(imageUploadForm.submit) }}
                        <div class="mt-2">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    {{ form_widget(imageUploadForm.image) }}
                                    <label class="custom-file-label text-left" for="upload-image-form[image]">
                                        Выберите файл
                                    </label>
                                </div>
                            </div>

                        </div>
                        {{ form_end(imageUploadForm) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mb-4 text-center">
            {{ form_start(changeUserFrom) }}
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <b>Данные о пользователе</b>
                </div>
                <div class="card-body">
                    {% include 'common/input-fields/form/input-field.html.twig' with {
                        'fieldName' : changeUserFrom.lastName,
                        'class'     : classInputSize
                    } %}
                    {% include 'common/input-fields/form/input-field.html.twig' with {
                        'fieldName' : changeUserFrom.firstName,
                        'class'     : classInputSize
                    } %}
                    {% include 'common/input-fields/form/input-field.html.twig' with {
                        'fieldName' : changeUserFrom.patronymic,
                        'class'     : classInputSize
                    } %}
                    {% include 'common/input-fields/form/input-field.html.twig' with {
                        'fieldName' : changeUserFrom.email,
                        'class'     : classInputSize
                    } %}
                    {% include 'common/input-fields/form/input-field.html.twig' with {
                        'fieldName' : changeUserFrom.city,
                        'class'     : classInputSize
                    } %}
                    {% include 'common/input-fields/form/submit-btn.html.twig' with {
                        'fieldName' : changeUserFrom.submit,
                        'class'     : classInputSize
                    } %}
                </div>
            </div>
            {{ form_end(changeUserFrom) }}
        </div>
        {% if changeDoctorInfoFrom is defined %}
            <div class="col-md-6 offset-md-3 mb-4">
                {{ form_start(changeDoctorInfoFrom) }}
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <b>Данные о враче</b>
                    </div>
                    <div class="card-body">
                        {% include 'common/input-fields/form/input-field.html.twig' with {
                            'fieldName' : changeDoctorInfoFrom.medicalInstitution,
                            'class'     : classInputSize
                        } %}
                        {% include 'common/input-fields/form/input-field.html.twig' with {
                            'fieldName' : changeDoctorInfoFrom.experience,
                            'class'     : classInputSize
                        } %}
                        {% include 'common/input-fields/form/input-field.html.twig' with {
                            'fieldName' : changeDoctorInfoFrom.education,
                            'class'     : classInputSize
                        } %}
                        {% include 'common/input-fields/form/input-field.html.twig' with {
                            'fieldName' : changeDoctorInfoFrom.achievements,
                            'class'     : classInputSize
                        } %}
                        {% include 'common/input-fields/form/input-field.html.twig' with {
                            'fieldName' : changeDoctorInfoFrom.scientificWorks,
                            'class'     : classInputSize
                        } %}
                        {% include 'common/input-fields/form/submit-btn.html.twig' with {
                            'fieldName' : changeDoctorInfoFrom.submit,
                            'class'     : classInputSize
                        } %}
                    </div>
                </div>
                {{ form_end(changeDoctorInfoFrom) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/imageUploader.js') }}"></script>
{% endblock %}

