{% extends 'base.html.twig' %}

{% set classInputSize = 'col-md-10 offset-md-1' %}

{% block body %}
    <div class="container mb-5">
        {{ form_start(feedbackForm) }}
        <div class="border border-warning rounded col-6 offset-md-3 mt-4 text-center">
            {% include 'common/card-wrapper.html.twig' %}
            {% for message in app.flashes('success-send-feedback') %}
                <div class="form-group col-md-10 offset-md-1 alert alert-primary">
                    {{ message }}
                </div>
            {% endfor %}
            {% include 'common/input-fields/form/input-field.html.twig' with {
                'fieldName' : feedbackForm.title,
                'class'     : classInputSize
            } %}
            {% include 'common/input-fields/form/input-field.html.twig' with {
                'fieldName' : feedbackForm.name,
                'class'     : classInputSize
            } %}
            {% include 'common/input-fields/form/input-field.html.twig' with {
                'fieldName' : feedbackForm.email,
                'class'     : classInputSize
            } %}
            {% include 'common/input-fields/form/textarea-field.html.twig' with {
                'fieldName' : feedbackForm.text,
                'class'     : classInputSize
            } %}
            {% include 'common/input-fields/form/submit-btn.html.twig' with {
                'fieldName' : feedbackForm.submit,
                'class'     : classInputSize
            } %}
        </div>
        {{ form_end(feedbackForm) }}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}